/* COLORS
Main color: #3F51B5;*/

*{
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif; font-size: 20px;
	text-align: center; text-decoration: none; color: #161616;
}

body{background-color: #ebebeb; }

header{ 
	padding-top: 80px; padding-bottom: 80px;
}

#gtco-header{
  background: #1D2671; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #C33764, #1D2671); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #C33764, #1D2671); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #C33764, #1D2671); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #C33764, #1D2671); /* Standard syntax */
}

section{
 	text-align: justify;
 	margin-left: 10%; margin-right: 10%; margin-top: 40px;
 	padding: 5%; padding-top: 3%; padding-bottom: 2%;
 	background-color: #FFF; 
 	box-shadow: 0 9px 25px 0 rgba(0, 0, 0, 0.05), 0 6px 7px 0 rgba(0, 0, 0, 0.05);
 	transition: all 400ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

section:hover{
	box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
}

div.wrapper{
	overflow: hidden;
}

div.leftBar{
	float: left;
	background-color: #FAFAFA;
	padding: 24px;
	width: 12%;
	max-width: 200px;
	min-width: 100px;
	height: 100%;
}

div.content{
	overflow: hidden;
	padding: 5%;
}

#chart{
	margin: auto;
	overflow: hidden;
    height: 360px;
    max-width: 800px;
}

button.leftBarOption{
	-webkit-transition: color 200ms linear;
    -moz-transition: color 200ms linear;
    -o-transition: color 200ms linear;
    -ms-transition: color 200ms linear;
    transition: color 200ms linear;
    
    width: 100%;
	margin-bottom: 16px;
	padding-bottom: 6px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline: none;
    cursor:pointer;
    color: #757575;
    border-bottom-style: solid;
    border-bottom-color: #F5F5F5;
    border-bottom-width: 2px;
    font-size: 18px;
}

button.leftBarOption:hover{
	color: #424242;
	
}

#code{
	margin: 10px;
	padding: 4px;
	background: #ebebeb;
	font-size: 14px;
	border-radius: 2px; box-shadow: 2px black;
}

footer{
	background: #7B7B7B;
	color: #ffffff;
	clear: both;
	padding: 15px;
	font-size: 20px;
	margin-top: 20px;
	position: absolute;
  	bottom: 0;
  	right: 0;
  	left: 0;
}

/*PROYECTS*/
#logo{
  height: 65px;
}

#LINK{
	color: #797979;
}

#LINK:hover{
	color: #1d1d1d;
}

/*TEXT*/
h1{ 
	font-size: 80px;
	text-align: center;
	font-family: 'Roboto', sans-serif; 
	font-weight: 300; 
	background-color: transparent; 
	color: white;
}
h2{
	color: white;
}
#title{
	color: #03a9f4;
	font-size: 40px;
	padding-bottom: 30px;
	background-color: transparent;
}
#subtitle{
	color: #03a9f4;
	font-size: 30px;
	padding-bottom: 10px; padding-top: 10px;
	background-color: transparent;
	text-align: left;
}

#Paragraph{
	font-size: 20px;
	text-align: left;
	margin-bottom: 10px;
}