<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel='StyleSheet' href="{{ url_for('static', filename='css/styles.css') }}" title="Propierties" type='text/css'>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto: 300, 400' rel='stylesheet' type='text/css'>

    <!-- import scripts -->
    <script src='../static/Chart.min.js'></script>
    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
 
  </head>
  <body>
    <center>
        <header>
          <h1>Name</h1>
        </header>

        <content> 
          <div class="wrapper">
            <div class=leftBar>
              <button class="leftBarOption" id="userAge" onclick="userAgeChart()">
                Users age
              </button><br/>

              <button class="leftBarOption" id="userGender" onclick="userSexChart()">
                Users gender
              </button><br/>

              <button class="leftBarOption" id="placeInflow" onclick="inflowChart()">
                Place inflow
              </button><br/>

              <button class="leftBarOption" id="placeDiscounts">
                Place discounts
              </button><br/>

              <button class="leftBarOption" id="placeOptions">
                Place options
              </button>
            </div>

            <div class="content">
              <canvas id="chart"></canvas>
            </div>
          </div>
        </content>
      </center>

  </body>
</html>

<!--<button href=# id=ajaxButton>Text</button>

    <script type="text/javascript">
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
            a: "Test1",
            b: "Test2"
          }, function(data) {
            $('#result').text(data.result);
            $('input[name=a]').focus().select();
          });
          return false;
        };

        $('button#ajaxButton').bind('click', submit_form);
      });
    </script>-->

<!--Javascript-->
    <script type="text/javascript">
      Chart.defaults.global.responsive = true;
      Chart.defaults.global.maintainAspectRatio = false;

      // define the age chart data
      var ageChartData = {
        labels : [{% for label in usersLabels[1] %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend }}',
            data : [{% for item in usersValues[1] %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: [{% for color in usersBgColors[1] %}
                      "{{color}}",
                    {% endfor %}],
            borderColor: [{% for color in usersBorderColors[1] %}
                      "{{color}}",
                    {% endfor %}],
            borderWidth: 0,
        }]
      }

      // define the gender chart data
      var sexChartData = {
        labels : [{% for label in usersLabels[0] %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{
            label: "{{ legend }}",
            data : [{% for item in usersValues[0] %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: [{% for color in usersBgColors[0] %}
                      "{{color}}",
                    {% endfor %}],
            borderColor: [{% for color in usersBorderColors[0] %}
                      "{{color}}",
                    {% endfor %}],
            borderWidth: 0,
        }]
      }

      // define the place inflow chart data
      var inflowChartData = {
        labels : [{% for label in inflowLabels %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{
            label: "Persons along the night",
            backgroundColor: "rgba(0, 188, 212, 0.4)",
            borderColor: "rgba(0, 188, 212, 0.6)",
            data : [{% for item in inflowValues %}
                      {{item}},
                    {% endfor %}],
        }]
      }
      

      var pieChartOptions = {
        rotation: -Math.PI,
        cutoutPercentage: 30,
        circumference: Math.PI,
        legend: {
          position: 'left'
        },
        animation: {
          animateRotate: true,
          animateScale: false
        },
        tooltips: {
          //Make the average
          callbacks: {
            label: function(tooltipItem, data) {
              var allData = data.datasets[tooltipItem.datasetIndex].data;
              var tooltipLabel = data.labels[tooltipItem.index];
              var tooltipData = allData[tooltipItem.index];
              var total = 0;
              for (var i in allData) {
                total += allData[i];
              }
              var tooltipPercentage = Math.round((tooltipData / total) * 100);        
              return tooltipLabel + ": " + tooltipPercentage + "%";
            }
          }
        }
      };

      var lineChartOptions = {
        legend: {
          position: 'bottom',
          //Don't allow the user to hide the chart data
          onClick: (e) => e.stopPropagation()
        }
      };

      // get chart canvas
      var ctx = document.getElementById("chart").getContext("2d");
      
      var mChart = new Chart(ctx, {
        type: 'pie',
        data: ageChartData,
        options: pieChartOptions
      });

      /*var lineChart = new Chart(ctx, {
        type: 'line',
        data: inflowChartData
      });*/

      function inflowChart(){
        //Let the user refresh the data
        if(mChart.config.type == 'line'){
          mChart.config.data == inflowChartData;
          mChart.destroyDatasetMeta(0);
          mChart.update();
        }else{
          mChart.destroy();
          mChart = new Chart(ctx, {
            type: 'line',
            data: inflowChartData,
            options: lineChartOptions
          });
        }
      }

      function userSexChart(){
        //Let the user refresh the data
        if(mChart.config.type == 'pie'){
          mChart.config.data = sexChartData;
          mChart.destroyDatasetMeta(0);
          mChart.update();
        }else{
          mChart.destroy();
          mChart = new Chart(ctx, {
            type: 'pie',
            data: sexChartData,
            options: pieChartOptions
          });
        }
      };

      function userAgeChart(){
        //Let the user refresh the data
        if(mChart.config.type == 'pie'){
          mChart.config.data = ageChartData;
          mChart.destroyDatasetMeta(0);
          mChart.update();
        }else{
          mChart.destroy();
          mChart = new Chart(ctx, {
            type: 'pie',
            data: ageChartData,
            options: pieChartOptions
          });
        }
      };

    </script>
