<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User statistics</title>
    <!-- import plugin script -->
    <script src='../static/Chart.min.js'></script>

    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
      var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
 
  </head>
  <body>
    <!-- bar chart canvas element -->
    <canvas id="chart" width="600" height="400"></canvas>
    <button onclick="manageCharts()" id="chartDataButton">Gender chart</button>
    <button onclick="inflowChart()" id="inflowChartButton">Inflow chart</button>
    <!--<button href=# id=ajaxButton>Text</button>

    <script type="text/javascript">
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
            a: "Test1",
            b: "Test2"
          }, function(data) {
            $('#result').text(data.result);
            $('input[name=a]').focus().select();
          });
          return false;
        };

        $('button#ajaxButton').bind('click', submit_form);
      });
    </script>-->

    <script type="text/javascript">
      // Global parameters:
      // Do not resize the chart canvas when its container does
      Chart.defaults.global.responsive = false;

      // define the age chart data
      var ageChartData = {
        labels : [{% for label in usersLabels[1] %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{
            label: '{{ legend }}',
            data : [{% for item in usersValues[1] %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: [{% for color in usersBgColors[1] %}
                      "{{color}}",
                    {% endfor %}],
            borderColor: [{% for color in usersBorderColors[1] %}
                      "{{color}}",
                    {% endfor %}],
            borderWidth: 0,
        }]
      }

      // define the gender chart data
      var sexChartData = {
        labels : [{% for label in usersLabels[0] %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{
            label: "{{ legend }}",
            data : [{% for item in usersValues[0] %}
                      {{item}},
                    {% endfor %}],
            backgroundColor: [{% for color in usersBgColors[0] %}
                      "{{color}}",
                    {% endfor %}],
            borderColor: [{% for color in usersBorderColors[0] %}
                      "{{color}}",
                    {% endfor %}],
            borderWidth: 0,
        }]
      }

      // define the place inflow chart data
      var inflowChartData = {
        labels : [{% for label in inflowLabels %}
                   "{{label}}",
                  {% endfor %}],
        datasets : [{
            label: "Number of people along the night",
            backgroundColor: "rgba(0, 188, 212, 0.4)",
            borderColor: "rgba(0, 188, 212, 0.6)",
            data : [{% for item in inflowValues %}
                      {{item}},
                    {% endfor %}],
        }]
      }
      

      var pieChartOptions = {
        rotation: -Math.PI,
        cutoutPercentage: 30,
        circumference: Math.PI,
        legend: {
          position: 'left'
        },
        animation: {
          animateRotate: true,
          animateScale: false
        },
        tooltips: {
          //Make the average
          callbacks: {
            label: function(tooltipItem, data) {
              var allData = data.datasets[tooltipItem.datasetIndex].data;
              var tooltipLabel = data.labels[tooltipItem.index];
              var tooltipData = allData[tooltipItem.index];
              var total = 0;
              for (var i in allData) {
                total += allData[i];
              }
              var tooltipPercentage = Math.round((tooltipData / total) * 100);        
              return tooltipLabel + ": " + tooltipPercentage + "%";
            }
          }
        }
      };

      var lineChartOptions = {
        legend: {
          position: 'bottom',
          //Don't allow the user to hide the chart data
          onClick: (e) => e.stopPropagation()
        }
      };

      // get chart canvas
      var ctx = document.getElementById("chart").getContext("2d");
      
      var mChart = new Chart(ctx, {
        type: 'pie',
        data: ageChartData,
        options: pieChartOptions
      });

      /*var lineChart = new Chart(ctx, {
        type: 'line',
        data: inflowChartData
      });*/

      function inflowChart(){
        mChart.destroy();
        mChart = new Chart(ctx, {
          type: 'line',
          data: inflowChartData,
          options: lineChartOptions
        });
      }

      function userChart(){
        var button = document.getElementById("chartDataButton");

        mChart.destroy();
          mChart = new Chart(ctx, {
          type: 'pie',
          data: ageChartData,
          options: pieChartOptions
        });
        button.textContent = "Gender chart";
      }

      function manageCharts(){
        var button = document.getElementById("chartDataButton");
        var previousData = mChart.config.data;
        
        if(mChart.config.type == 'line'){
          userChart();
          return;
        }
      
        if(previousData == ageChartData){
          button.textContent = "Age chart";
          showSexData();
        }else if(previousData == sexChartData){
          button.textContent = "Gender chart";
          showAgeData();
        }
      }

      function showSexData(){
        mChart.config.data = sexChartData;
        mChart.destroyDatasetMeta(0);
        mChart.update();
      };

      function showAgeData(){
        mChart.config.data = ageChartData;
        mChart.destroyDatasetMeta(0);
        mChart.update();
      };

    </script>

  </body>
</html>
